body, ul, div{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #004579;
}

@font-face{
    font-family: "Raleway-Regular";
    src: url('./fonts/raleway/Raleway-Regular.ttf');

}

@font-face{
    font-family: "Raleway-Bold";
    src: url('./fonts/raleway/Raleway-Bold.ttf');

}


@font-face{
    font-family: "Raleway-Italic";
    src: url('./fonts/raleway/Raleway-Italic.ttf');
}


nav{
    background-color: #002541;
    max-height: 75px;
    height: 75px;
    text-align: center;
    position: fixed;
    width: 100%;
}


nav ul li{
    list-style: none;
   
    display: inline-block;
    width: auto;    
    text-align: center;
    margin-top: 25px;
    margin-right: 5%;
    font-family: 'Raleway-Bold';
    font-size: 15px;
    cursor: pointer;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

.active-link{
    border-bottom: #005FA7 solid 2px;
}



.landing-page{
    width: 100%;
    background-image: url('../img/hero.png');
    background-repeat: no-repeat;
    height: auto;
    background-size: contain;
    background-position: 0px -24px;
    padding-top: 100px;
    padding-bottom: 120px;
}

.landing-page .logo{
    display: block;
    margin: auto;
    width: 150px;
    
}

.landing-page .main-title{
    display: block;
    color: #fff;
    margin: auto;
    margin-top: 370px;
    font-family: 'Raleway-Bold';
    font-size: 70px;
    text-align: center;
}
.bottom-line-span{
    width: 150px;
    border-bottom: solid #fff 2px;
    display: block;
    margin: auto;
    height: 20px;

}

.landing-page .featured-text{
    text-align: center;
    color: #fff;
    font-family: 'Raleway-Bold';
    font-size: 22px;
    width: 600px;
    margin: auto;
    display: block;
    line-height: 32px;
    margin-top: 40px;
    
}




.featured-text-container{
    background: linear-gradient(transparent, #004579);
}
.landing-page .video-container{    
    width: 770px;
    display: block;
    margin: auto;
    padding: 5px;
    margin-top: 50px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    max-width: 80%;
    
}

.landing-page .resort-desc{
    text-align: center;
    color: #fff;
    font-family: 'Raleway-Regular';
    font-size: 17px;
    width: 770px;
    margin: auto;
    display: block;
    line-height: 32px;
    margin-top: 40px;
    max-width: 80%;
    
}
.secondary-hero{
    background-image: url('../img/secondary-hero.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;

}
.secondary-hero .secondary-titles-container h1{
    color: #fff;
    font-family: 'Raleway-Bold';
    text-align: center;
    font-size: 70px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.secondary-hero .secondary-titles-container h3{
    color: #fff;
    font-family: 'Raleway-Bold';
    text-align: center;
    font-size: 40px;
    margin-bottom: 0px;
}
.circle-top{
    background-image: url('../img/curved-top.png');
    height: 85px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 84px;
}

.circle-bottom{
    background-image: url('../img/curved-bottom-dark.png');
    height: 85px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 84px;
    margin-top: 151px;
}
.circle-img{
    width: 100%;
    margin-top: -1px;
}

.secondary-titles-container{
    margin-bottom: 120px;
}

.pricing-section{

    background: #002541;
    margin-top: -5px; /*fixing image issue*/
    padding-bottom: 45px;

}
.pricing-text{
    
    color: #fff;    
    font-size: 17px;
    width: 600px;
    margin: auto;
    display: block;
    font-family: 'Raleway-Regular';
    line-height: 32px;

}

.pricing-title{
    font-size: 20px;
    color: #fff;
    font-family: 'Raleway-Bold';
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;

}

.pricing-subtitlte{
    font-size: 20px;
    color: #fff;
    font-family: 'Raleway-Bold';
    text-align: center;
    margin-top: 20px;
}

.pricing-table{
    width: 600px;
    color:#fff;
    font-size: 17px;
    border-collapse: collapse;
    margin: auto;
}

.pricing-table td{    
    padding: 15px;
    
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-left: none;
    border-right: none;

    
}
.item{
    width: 50%;
    font-family: 'Raleway-Regular';
    width: 50%;
}
.price{
    font-family: 'Raleway-Bold';    
    width: 50%;
    text-align: right;
}

.pricing-legend{
    font-size: 13px;
    font-family: 'Raleway-Italic';
    width: 600px;
    color: #fff;
    display: block;
    margin: auto;
    margin-top: 20px;
    line-height: 24px;
}

.buy-now{
    font-family: 'Raleway-Bold';
    font-size: 20px;
    background-color: #0F7F3F;
    max-width: 125px;
    max-height: 50px;
    display: block;
    margin:auto;   
    color: #fff;
    padding: 15px 10px;
    text-align: center;
    margin-top: 50px;
}



.updates-section{

    background-color: #fff;
    margin-top: -2px;

}
.circle-top-dark{
    height: 85px;
    width: 100%;
    background-image: url('../img/curved-top-inverted.png');
    background-repeat: no-repeat;
    background-size: 102% 84px;
    
}

.updates-section .bottom-line-span{
    border-bottom: solid #004F87 2px;
    height: 10px;
}

.padding-div{
    padding-top: 120px;
    padding-bottom: 120px;

}
.latest-update-title{
    color: #004F87;
    font-family: 'Raleway-Bold';
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
}

.updates-text{
    font-size: 17px;
    color:#000000 ;    
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
    line-height: 32px;
    max-width: 527px;
    font-family: 'Raleway-Regular';
}


.listing-container{
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 100px;
}

.list-item{
    display: flex;
    margin-bottom: 30px;
}

.list-item .description-item{
    margin-left: 30px;
    text-align: left;
    font-size: 15px;
    font-family: 'Raleway-Regular';
    line-height: 24px;
   
}

.list-item .description-item h3{
    font-family: 'Raleway-Bold';
    font-size: 20px;
}

.list-item .description-item a{
 color: #004579;
 cursor: pointer;
 
}

.list-item img{
    /* width: 50%; */
}

.pdf-icon{
    width: 30px;
    height: 30px;
    background-image: url('../img/pdf.png');
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.curved-bottom-light{
    background-image: url('../img/curved-bottom.png');
    height: 85px;
    width: 100%;
    background-size: 100% 84px;
    display: block;
    background-repeat: no-repeat;
}

.press-release-section{
    background-color: #004579;    
    padding: 0px 250px 120px 250px;
    color: #fff;
    margin-top: -5px;
    padding-top: 85px;
}

.press-release-section .section-title{
    
    font-size: 40px;
    font-family: 'Raleway-Bold';
    margin-top: 0px;

}

.press-release-section .bottom-line-span{
    margin: initial;
}


.press-release-section .section-subtitle{
    font-family: 'Raleway-Bold';
    font-size: 20px;

}

.press-release-section p{
    font-family: 'Raleway-Regular';    
    font-size: 15px;
}
.italic{
    font-family: 'Raleway-Italic' !important;
    font-style: italic;
    font-size: 15px;
}

.press-release-text{
    line-height: 24px;
}

footer{
    background-color: #002541;
    padding-bottom: 50px;
}

.logo-footer{
    width: 120px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
}

.people{
    display: flex;    
    width: 800px;
    font-family: 'Raleway-Regular';
    font-size: 15px;
    color: #fff;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
    
}


.person{
    width: 50%;
}

.person:nth-child(1){
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}
.person p{
    margin-bottom: 10px;
    margin-top: 0px;
}

.person .name{
    font-family: 'Raleway-Bold';
}

.person a{
    color: #fff;
    text-decoration: none;
}
.mobile-line{
    display: none;
}

.copy-legend{
    font-size: 13px;
    font-family: 'Raleway-Regular';
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.buy-now{
    cursor: pointer;
}


/*Mobile */

@media only screen and (max-width: 780px){

    nav{
        display: none;
    }

    .landing-page{
        background-size: contain;
        padding-top: 10px;
        background-position: initial;
        padding-bottom: 65px;
    }
    .landing-page .logo{
        width: 100px;
    }

    .landing-page .main-title{
        
        margin-top: 150px;     
        font-size: 40px;       
        max-width: 220px;
    }

    .secondary-hero .secondary-titles-container h1{
        font-size: 40px;
    }

    .secondary-hero .secondary-titles-container h3{
        font-size: 25px;
    }

    .landing-page span{
        height: 13px;
    }

    .landing-page .featured-text-container{
        /* background-color: #004579; */
        padding-top: 20px;
    }
    .landing-page .featured-text{
        text-align: center;
        font-size: 18px;
        width: 228px;
        margin-top: 0px;
        
    }

    .landing-page .video-container{
        max-width: 80%;
        
    }

    .landing-page .video-container iframe{
        height: 211px;
    }

    .pricing-section{
        padding-top: 45px;
        padding-bottom: 30px;
    }
    .pricing-text{
        width: 80%;
        
    }

    .pricing-table{
        width: 80%;
    }

    .pricing-legend{
        width: 80%;
    }
    .updates-section .padding-div{
        padding: 45px 50px 35px 50px;
    }

    .curved-bottom-light{
        background-size: contain;
        height: 71px;
    }

    .circle-top{
        background-size: contain;
    }
    
    .circle-bottom{
        background-size: contain;
        height: 4vh;
    }
    .press-release-section{
        padding: 45px 50px 45px 50px;
        margin-top: -5px;
    }
    .listing-container{
        width: 100%;
        display: block;
    }

    .list-item{
        display: block;
    }

    .list-item img{
        width: 100%;
    }

    .latest-update-title{
        font-size: 25px;
    }

    .press-release-section .section-title{
        font-size: 25px;
    }

    .press-release-section .section-subtitle{
        font-size: 16px;
        line-height: 22px;
    }

    .press-release-section p{
        line-height: 22px;
    }

    .logo-footer{
        margin-top: 30px;

    }
    .people{
        width: 80%;
        display: block;
        
    }
    .person{
        width: 100%;
        
    }

    .person:nth-child(1){
        border-right: none;       
    }

    .mobile-line{
        display: block;
        width: 35%;
        margin: auto;
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


